{% extends "index.html" %}

{% load static %}

{% block codigoDinamico %} 

<h1>Buscar personas </h1>
<form action=''method='get'>
    
    <h3>Ingrese DNI a buscar</h3>
    <input type='text' name='dni' id='dni'>

    <input type='submit' value='Buscar'>
    
{% if formulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

{% elif personas %}
    <ul>
        {%for persona in personas%}
            <li>({{persona.dni}}): {{persona.nombre}},{{persona.apellido}} de {{persona.edad}} años ,con correo: {{persona.email}}. Nacido el: {{persona.fecha_nacimiento}} esta registado en la base de datos  </li>
        
        
        {% endfor %}
        </ul>
        <table>

            {{ formulario.as_table }}

        </table>

        
    {% else %}
        <p>{{respuesta}}</p>
    {% endif %}

</form>
    
{% endblock %}

