{% extends "index.html" %}

{% load static %}

{% block codigoDinamico %} 

<h1>Formulario buscar profesor </h1>
<form action=''method='get'>
    
    <h3>Buscar nombre de profesor</h3>
    <input type='text' name='nombre' id='nombre'>

    <input type='submit' value='Buscar'>
    
{% if formulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

{% elif profesores %}
    <ul>
        {%for profesor in profesores%}
            <li>El profesor {{profesor.nombre}},{{profesor.apellido}} de {{profesor.edad}} años ,con correo: {{profesor.email}} y profesion: {{profesor.profesion}} esta registado en la base de datos  </li>
        
        
        {% endfor %}
        </ul>
        <table>

            {{ formulario.as_table }}

        </table>

        
    {% else %}
        <p>{{respuesta}}</p>
    {% endif %}

</form>
    
{% endblock %}

