{% extends "index.html" %}

{% load static %}

{% block codigoDinamico %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR CURSO</title>
</head>
<body>
    <form action=''method='post'> {% csrf_token %}

        <h3>Crear Curso</h3>
        
        <table> 
            {{formulario.as_table}}
        </table>
    
        <button type="submit" value="Enviar">Enviar</button>
    
    </form>
</body>
</html>

{% endblock %}
