<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<style>
    table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

</style>
<body>
    <h1>Personas:</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <!-- <th>Fecha Nacimiento</th> -->
            <th>Email</th>
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{persona.nombre}}</td>
                <td>{{persona.edad}}</td>
                <!-- <td>{{persona.fecha_nacimiento}}</td> -->
                <td>{{persona.email}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>