<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Blog Equipo 2 - Sobre Nosotros</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="../../static/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.css">

        <!-- Bootstrap core JavaScript -->
        <script src="../../static/vendor/jquery/jquery.min.js"></script>
        <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Additional Scripts -->
        <script src="../../static/assets/js/custom.js"></script>
        <script src="../../static/assets/js/owl.js"></script>
        <script src="../../static/assets/js/slick.js"></script>
        <script src="../../static/assets/js/isotope.js"></script>
        <script src="../../static/assets/js/accordions.js"></script>
    
        <script language = "text/Javascript"> 
          cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
          function clearField(t){                   //declaring the array outside of the
          if(! cleared[t.id]){                      // function makes it static and global
              cleared[t.id] = 1;  // you could use true and false, but that's more typing
              t.value='';         // with more chance of typos
              t.style.color='#fff';
              }
          }
        </script>

<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header ACA ESTE HEADER DEBERIA REPETIRSE EN TODO EL BLOG,--> 
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Blog Equipo 2<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Inicio
                  <span class="sr-only">(actual)</span>
                </a>
              </li> 
              <li class="nav-item active">
                <a class="nav-link" href="about.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contáctanos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Sobre Nosotros</h4>
                <h2>Info sobre nuestro equipo</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here (COMO SE CAMBIA LA IMAGEN DEL BANNER????) --> 


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="../../static/assets/images/fondoaboutus.jpg" alt="">
            <p>Nosotros somos un equipo de estudiantes del curso de Python dictado por CoderHouse. Pertenecemos a la comisión nro 34365, nuestro profesor es Daniel Ochoa y nuestro tutor es Pablo David Schvager. Debajo podrán leer una breve info de cada uno de los participantes de este grupo.<br><br>El objetivo de este trabajo es crear una web con todas las funcionalidades aprendidas en clase, presentándolas en una entrega final para aprobar el curso. De forma dinámica trabajamos en grupo acordando las tareas a realizar cada uno para llevar adelante el blog. También nos ayudamos para resolver los problemas que lleva entregar un trabajo final.</p>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <h4>Alejandro Gallo</h4>
          	<p>Programador. No se pierde un episodio de One Piece. Líder innato, lleva a su equipo adelante, especialmente a Ale Veliz que no entiende nada.</p>
          </div>
          <div class="col-lg-4 col-md-6">
          <h4>Alejo Gutiérrez</h4>
          	<p>No recuerdo a qué se dedica. Probablemente él tampoco. Tiene debilidad por las plantas de marihuana y el autocultivo.</p>
          </div>
          <div class="col-lg-4">
          <h4>Alejandro Véliz</h4>
          	<p>Comprador. Trabaja en una fábrica de zapatillas. Nunca tiene tiempo. No entiende nada, está en la lona. Acepta donaciones en USD.</p>
          </div>
        </div>
        
        
      </div>
    </section>

    <!-- ACA HAY UN FOOTER CON LINK A REDES SOCIALES, NO LO BORRE PORQUE QUEDA LINDO PERO PODRIAMOS PONER OTRA COSA-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>Copyright 2022 Blog Equipo 2.
                    
                 | Robado de: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>