<!DOCTYPE html>
<html lang="en">
   <head>
      
    {% load static %}
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>{%block title%}Blog Del Programador{%endblock title%}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'appBlog/images/programming-languages.gif' %}" alt="" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="{% url 'Index' %}"><img src="{% static 'appBlog/images/Python.png' %}" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              {%if request.user.is_superuser%}
                              <li><a class="nav-link" href="/admin/">Admin</a></li>
                              {%endif%}
                              <li><a href="{% url 'Index' %}">Home</a></li>
                              <li><a href="{% url 'About' %}">Nosotros</a></li>
                              <li><a href="{% url 'Post List' %}">Ver Posteos</a></li>
                              <li><a href="{% url 'Contact' %}">Contacto</a></li>
                              {%if request.user.is_authenticated%}
                                 <li><a id="avatar-btn" class="nav-link" href="{% url 'Profile' request.user %}">Perfil</a></li>
                                 <li><a id="avatar-btn" class="nav-link" href="{% url 'Post Create' %}">Crear Post</a></li>
                              {%else%}
                                 <li><a href="{% url 'Login' %}">Ingresar</a></li>
                              {%endif%}
                              <li><a href="{% url 'Post Find' %}"><img src="{% static 'appBlog/images/search_icon.png' %}" alt="#" /></a></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      {% block cuerpo %}{% endblock cuerpo %}
      {% block footer %}{% endblock footer%}


      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'appBlog/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'appBlog/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'appBlog/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'appBlog/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'appBlog/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script><![endif]-->
      <!-- Javascript files-->
      <script src="{% static 'appBlog/js/jquery.min.js' %}"></script>
      <script src="{% static 'appBlog/js/popper.min.js' %}"></script>
      <script src="{% static 'appBlog/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'appBlog/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'appBlog/js/plugin.js' %}"></script>
      <!-- Scrollbar Js Files -->
      <script src="{% static 'appBlog/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'appBlog/js/custom.js' %}"></script>
   </body>
</html>