{% extends 'appBlog/base.html' %}

{% load static %}

{% block title%}Contacto{% endblock title%}

{% block cuerpo %} 
   <!-- Contact Title -->
   <div class="contact-bg">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="contactheading">
                  <h3>Contáctenos</h3>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="flex items-center min-h-screen bg-gray-50 dark:bg-gray-900">
      <div class="container mx-auto">
      <div class="max-w-md mx-auto my-10 bg-white p-5 rounded-md shadow-sm">
         <div class="text-center">
            <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">
            Formulario de Contacto
            </h1>
            <p class="text-gray-400 dark:text-gray-400">
            Completa debajo para enviarnos un mensaje.
            </p>
         </div>
         <div class="m-7">
            <form action="https://api.web3forms.com/submit" method="POST" id="form">
            <input type="hidden" name="access_key" value="9034dd8b-8fa3-4d97-a8b9-12ca6d36bc2b" />
            <input type="hidden" name="subject" value="New Submission from Web3Forms" />
            <input type="hidden" name="redirect" value="https://web3forms.com/success" />
            <input type="checkbox" name="botcheck" id="" style="display: none;" />
            <div class="mb-6">
               <label for="name" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Nombre</label>
               <input type="text" name="name" id="name" placeholder="Tito" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
               <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Dirección de E-mail</label>
               <input type="email" name="email" id="email" placeholder="tito@empresa.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
               <label for="message" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Tu Mensaje</label>
               <textarea rows="5" name="message" id="message" placeholder="Escribe tu mensaje..." class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
            </div>
            <div class="mb-6">
               <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">
                  ENVIAR
               </button>
            </div>
            <p class="text-base text-center text-gray-400" id="result"></p>
            </form>
         </div>
      </div>
      </div>
   </div>
{% endblock cuerpo %} 