{% extends 'appBlog/base.html' %}

{% load static %}

{% block title%}Contacto{% endblock title%}

{% block cuerpo %} 
   <!-- Contact Title -->
   <div class="contact-bg">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="contactheading">
                  <h3>Contáctenos</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Contact Form section -->
   <section class="layout_padding">
   
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="full comment_form">
                  <form method="post"> {% csrf_token %}
                     {{ form.as_p }}
                     <div class="form-actions">
                     <fieldset>
                        <div class="col-md-12">
                           <div class="row">
                              <div class="col-md-6">
                                 <input type="text" name="nombre" placeholder="Nombre" required="#" />
                                 <input type="email" name="email" placeholder="Email" required="#" />
                                 <input type="text" name="asunto" placeholder="Asunto" required="#" />
                              </div>
                              <div class="col-md-6">
                                 <textarea class="wdt" placeholder="Comentario"></textarea>
                              </div>
                           </div>
                           <div class="row margin_top_30">
                              <div class="col-md-12">
                                 <div class="center">
                                    <button type="submit" class="form-actions">Enviar</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   
   <!-- end section -->
   <!-- Contact End -->
   {% endblock cuerpo %} 