{% extends 'appBlog/base.html' %}

{% load static %}

{% block footer %} 

    <!-- footer -->
      <footer>
        <div class="container">
           <div class="row">
              <div class="col-lg-4 col-md-6">
                 <a href="#"><img src="{% static 'appBlog/images/footer_Python.png' %}" alt="#" /></a>
                 <ul class="contact_information">
                    <li><span><img src="{% static 'appBlog/images/location_icon.png' %}" alt="#" /></span><span class="text_cont">Av. Rivadavia 5555<br>Buenos Aires - Argentina</span></li>
                    <li><span><img src="{% static 'appBlog/images/phone_icon.png' %}" alt="#" /></span><span class="text_cont">Directo<br>9+54 911 6234 5678</span></li>
                    <li><span><img src="{% static 'appBlog/images/mail_icon.png' %}" alt="#" /></span><span class="text_cont">Email<br>grupo2python@gmail.com</span></li>
                 </ul>
                 <ul class="social_icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                 </ul>
              </div>
              <div class="col-lg-2 col-md-6">
                 <div class="footer_links">
                    <h3>Accesos Rapidos</h3>
                    <ul>
                       <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a></li>
                       <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Mar</a></li>
                       <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a></li>
                       <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Contactenos</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="footer_links">
                    <h3>Instagram</h3>
                    <ol>
                       <li><img class="img-responsive" src="{% static 'appBlog/images/footer_blog.png' %}" alt="#" /></li>
                       <li><img class="img-responsive" src="{% static 'appBlog/images/footer_blog.png' %}" alt="#" /></li>
                       <li><img class="img-responsive" src="{% static 'appBlog/images/footer_blog.png' %}" alt="#" /></li>
                       <li><img class="img-responsive" src="{% static 'appBlog/images/footer_blog.png' %}" alt="#" /></li>
                    </ol>
                 </div>
              </div>
              <div class="col-lg-3 col-md-6">
                 <div class="footer_links">
                    <h3>Contactenos</h3>
                    <form action="index.html">
                       <fieldset>
                          <div class="field">
                             <input type="text" name="name" placeholder="Your Name" required="" />
                          </div>
                          <div class="field">
                             <input type="email" name="email" placeholder="Email" required="" />
                          </div>
                          <div class="field">
                             <input type="text" name="subject" placeholder="Subject" required="" />
                          </div>
                          <div class="field">
                             <textarea placeholder="Message"></textarea>
                          </div>
                          <div class="field">
                             <div class="center">
                                <button class="reply_bt">Send</button>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <div class="cpy">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <p>Copyright © 2019 Design by <a href="https://html.design/">Free Html Templates</a></p>
              </div>
           </div>
        </div>
     </div>
     <!-- end footer -->

{% endblock footer %} 