{% extends 'appBlog/base.html' %}

{% load static %}

{% block title%}La Web de l@s Programador@s{% endblock title%}

{% block cuerpo %} 

      <!-- section --> 
      <div class="About-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="aboutheading">
                     <h3><span class="orange_color">Home</span></h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!-- revolution slider -->
      <div class="banner-slider">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-7">
                 <div id="slider_main" class="carousel slide" data-ride="carousel">
                    <!-- The slideshow -->
                    <div class="carousel-inner"> 
                       <div class="carousel-item active">
                          <img src="{% static 'appBlog/images/paraslider2.jpg' %}" alt="#" />
                       </div>
                       <div class="carousel-item">
                          <img src="{% static 'appBlog/images/paraslider1.jpg' %}" alt="#" />
                       </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#slider_main" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a class="carousel-control-next" href="#slider_main" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                 </div>
              </div>
              <div class="col-md-5">
                 <div class="full slider_cont_section">
                    <h4>Podras aprender mucho en</h4>
                    <h3>Blog del Programador</h3>
                    <p>Buscando resolver aquellos aspectos que pueden presentar problemas 
                     a la hora de hacer desarrollos aplicados a 
                     las tecnologías con las que trabajamos actualmente.</p>
                    <div class="button_section">
                       <a href="{% url 'About' %}">Sobre Nosotros</a>
                       <a href="{% url 'Contact' %}">Contactenos</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end revolution slider -->
     <!-- end header -->
      <!-- end revolution slider -->
      <!-- section --> 
      <div class="section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading">
                     <h3>Los lenguajes de programacion mas <span class="orange_color"> Usados</span></h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <img src="{% static 'appBlog/images/python.home.png' %}" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Python</h4>
                     <h5>Informacion</h5>
                     <p>Python es un lenguaje de alto nivel de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código, se utiliza para desarrollar aplicaciones de todo tipo, ejemplos: Instagram, Netflix, Spotify, Panda3D, entre otros.Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.</p>
                  </div>
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-6">
                  <img src="{% static 'appBlog/images/java.home.png' %}" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>Java</h4>
                     <h5>Informacion</h5>
                     <p>Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems.2​3​

                        El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems (constituida en 1983 y posteriormente adquirida el 27 de enero de 2010 por la compañía Oracle),4​ y publicado en 1995 como un componente fundamental de la plataforma Java de Sun Microsystems. Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos. Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <img src="{% static 'appBlog/images/c#.home.png' %}" alt="#" />
               </div>
               <div class="col-md-6">
                  <div class="full blog_cont">
                     <h4>C#</h4>
                     <h5>Informacion</h5>
                     <p>C#" (pronunciado cii sharp en inglés) es un lenguaje de programación multiparadigma desarrollado y estandarizado por la empresa Microsoft como parte de su plataforma .NET, que después fue aprobado como un estándar por la ECMA (ECMA-334) e ISO (ISO/IEC 23270). C# es uno de los lenguajes de programación diseñados para la infraestructura de lenguaje común.

                        Su sintaxis básica deriva de C/C++ y utiliza el modelo de objetos de la plataforma .NET, similar al de Java, aunque incluye mejoras derivadas de otros lenguajes.</p>
                  </div>
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-12">
                  <div class="button_section full center margin_top_30">
                     <a style="margin:0;" href="{% url 'About' %}">Conocenos</a>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock cuerpo %} 