{% extends 'appBlog/base.html' %}

{% load static %}

{% block title %} Posteos {% endblock title %}

{% block cuerpo %} 

      <!-- section --> 
      <div class="About-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="aboutheading">
                     <h3>Buscar <span class="orange_color">Posteos</span></h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <form action='' method='get'>{% csrf_token %}
         <div class="form-group center">
           <input type="text" name="busqueda" size="100" placeholder="Ingrese el texto a buscar"></input>
           <button type="submit" class="btn btn-outline-primary">Buscar</button>
           <a class="btn btn-outline-info" href="{% url 'Post List'%}">Ver Todos</a>
         </div>

        {% if postslist %} 
            {% for post in postslist %}
            <div class="section layout_padding blog_blue_bg light_silver">
                <div class="container">
                   <div class="row">
                      <div class="col-md-8 offset-md-2">
                         <div class="full">
                            <div class="big_blog">
                               <img class="img-responsive" src="{{post.imagen.url}}" alt="#" />
                            </div>
                            <div class="blog_cont_2">
                               <h3>{{post.titulo}}</h3>
                               <p class="sublittle">{{post.fecha}} by {{post.usuario.username}}</p>
                               <p >{{post.cuerpo}}</p>
                               {% if request.user.username == post.usuario.username %}
                                  <a href="{% url 'Post Edit' post.id %}" class="btn btn-outline-info">Editar...</a>
                               {% endif %}
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-primary" role="alert">{{mensaje}}</div>
        {% endif%} 
       </form>





{% endblock cuerpo%} 