{% extends 'appBlog/base.html' %}

{% load static %}

{% block post_view %}
    <!-- section --> 
       <div class="section layout_padding">
        <div class="container">
           <div class="row">
           <div class="col-md-6">
                 <div class="full blog_cont">
                    <h3>{{post.titulo}}</h3>
                    <h5>{{post.fecha}}</h5>
                    <p>{{post.texto}}</p>
                 </div>
              </div>
              <div class="col-md-6">
                 <img src="{{post.imagen}}" alt="#" />
              </div>
              
           </div>
        </div>
     </div>
     <!-- end section -->
{% endblock post_view %}