{% comment %} La lista de posteos por fecha {% endcomment %}


     <!-- section -->
     <section class="layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4 style="border-bottom: solid #333 1px;">Comments / 2</h4>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="full comment_blog_line">
                    <div class="row">
                       <div class="col-md-1">
                          <img src="../../static/images/c_1.png" alt="#" />
                       </div>
                       <div class="col-md-9">
                          <div class="full contact_text">
                             <h3>Veniam</h3>
                             <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                                dolore magna aliquam erat volutpat.
                             </p>
                          </div>
                       </div>
                       <div class="col-md-2">
                          <a class="reply_bt" href="#">Reply</a>
                       </div>
                    </div>
                 </div>
                 <div class="full comment_blog_line">
                    <div class="row">
                       <div class="col-md-1">
                          <img src="../../static/images/c_2.png" alt="#" />
                       </div>
                       <div class="col-md-9">
                          <div class="full contact_text">
                             <h3>Jack</h3>
                             <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                             <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                                dolore magna aliquam erat volutpat.
                             </p>
                          </div>
                       </div>
                       <div class="col-md-2">
                          <a class="reply_bt" href="#">Reply</a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row margin_top_30">
              <div class="col-md-12 margin_top_30">
                 <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4>Post : Your Comment</h4>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="full comment_form">
                    <form action="index.html">
                       <fieldset>
                          <div class="col-md-12">
                             <div class="row">
                                <div class="col-md-6">
                                   <input type="text" name="name" placeholder="Name" required="#" />
                                   <input type="email" name="email" placeholder="Email" required="#" />
                                </div>
                                <div class="col-md-6">
                                   <textarea placeholder="Comment"></textarea>
                                </div>
                             </div>
                             <div class="row margin_top_30">
                                <div class="col-md-12">
                                   <div class="center">
                                      <button>Send</button>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </fieldset>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end section -->
     <!-- section --> 
     <div class="section layout_padding blog_blue_bg light_silver">
        <div class="container">
           <div class="row">
              <div class="col-md-8 offset-md-2">
                 <div class="heading">
                    <h3>Blog</h3>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-8 offset-md-2">
                 <div class="full">
                    <div class="big_blog">
                       <img class="img-responsive" src="../../static/images/blog_1.png" alt="#" />
                    </div>
                    <div class="blog_cont_2">
                       <h3>Why do we use it</h3>
                       <p class="sublittle">March 19 2019  5 READ</p>
                       <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters as opposed to using Content here content here making..</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end section -->